html{
    background-color: rgb(226, 226, 226);
    overflow-x: hidden;
}
body {
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: rgb(226, 226, 226);
}
nav{
    margin-top: -.7rem;
}
.nav li{
    height: 3rem;
    margin-bottom: 1.4rem;
    transition: .3s;
}
.nav li a:hover{
    background-color: rgb(49, 134, 41);
    transition: .2s;
    border-radius: 5px;
    color: white;
    width: 100%;
}

.nav li:hover a {
    color: white !important;
}
.Sidebar{
    width: 16rem;
    height: 28rem;
    margin-top: -.7rem;
    background-color: rgba(50, 205, 50, 0);
    background-image: linear-gradient(to bottom, rgb(61, 117, 61), #1a3423);
}
.sidebar ul li{
    display: flex;
}
.sidebar p{
    height: 28rem;
    color: white !important;
}
.container{
    display: flex;
    margin-left: 0rem;
    align-items: center;
    justify-content: space-between;
}
.content{
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}
.content > .first{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.contentA{
    padding: 2rem;
    width: 12rem;
    height: 25rem;
    border-right: .6rem solid;
    border-image: linear-gradient(to bottom, #FAB02F, #D28908) 1;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.contentA:hover{
    box-shadow: #2125296c 2px 2px 2px 2px;
    transition: .3s;
}
.contentA .Aimg img{
    width: 80%;
}
.contentA .Atext{
    align-items: center;
    justify-content: center;
}
.contentA .Atext ul li{
    margin-left: -16px; 
    font-size: larger;
}
.contentC{
    width: 12rem;
    height: 28rem;
    border-right: .6rem solid;
    border-image: linear-gradient(to bottom, #fd8383, #F35555) 1;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.contentC:hover{
    box-shadow: #2125296c 2px 2px 2px 2px;
    transition: .3s;
}
.contentC .Cimg img{
    width: 50%;
}
.contentC .Ctext{
    align-items: center;
    justify-content: center;
}
.contentC .Ctext ul li{
    align-items: center;
    justify-content: center;
}
.contentD{
    width: 12rem;
    height: 28rem;
    border-right: .6rem solid;
    border-image: linear-gradient(to bottom, #9EC74D, #80A92D) 1;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.contentD:hover{
    box-shadow: #2125296c 2px 2px 2px 2px;
    transition: .3s;
}
.contentD .Dimg img{
    width: 50%;
}
.contentD .Dtext{
    align-items: center;
    justify-content: center;
}
.contentD .Dtext ul li{
    align-items: center;
    justify-content: center;
    font-weight: larger;
}
.contentB{
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: 28rem;
    justify-content: center;
    gap: 1.8rem;
    /* background-color: white; */
}
.contentB div{
    height: 13rem;
}
.contentB > .BTop{
    display: flex;
    flex-direction: column;
    border-right: .6rem solid;
    border-image: linear-gradient(to bottom, #3FBCFF, #0077B6) 1;
    padding-top: 12%;
    padding-right: 10%;
    align-items: center;
    text-align: center;
    gap: -2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.BTop:hover{
    box-shadow: #2125296c 2px 2px 2px 2px;
    transition: .3s;
}
.contentB .BTop .BTopimg img{
    width: 36%;
}
.contentB .BTop .BToptext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contentB .BTop .BToptext ul li{
    align-items: center;
    justify-content: center;
}
.contentB > .BBottom{
    display: flex;
    flex-direction: column;
    border-right: .6rem solid;
    border-image: linear-gradient(to bottom, #9970e4, #584085) 1;
    padding-top: 12%;
    padding-right: 10%;
    align-items: center;
    text-align: center;
    gap: 4rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.BBottom:hover{
    box-shadow: #2125296c 2px 2px 2px 2px;
    transition: .3s;
}
.contentB .BBottom .BBottomimg img{
    width: 36%;
}
.contentB .BBottom .BBottomtext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -46%;
}
.contentB .BBottom .BBottomtext ul li{
    text-align: end;
}


@media only screen and (max-width: 1200px){
    
    .Sidebar{
        width: 80px;
        height: 28rem;
        margin-top: -10rem;
        z-index: 9999;
        background-color: rgba(50, 205, 50, 0);
        background-image: linear-gradient(to bottom, rgb(61, 117, 61), #1a3423);
    }
    .sidebar ul li{
        display: flex;
    }
    .sidebar p{
        height: 28rem;
        color: white !important;
        display: block;
    }
    .container{
        display: flex;
        margin-left: 0rem;
        align-items: center;
        justify-content: space-between;
    }
    .content{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1rem;
    }
    .content > .first{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        text-align: start;
    }
    .content .first h6{
        font-weight: bolder;
    }
    .contentA {
        padding: 10px;
        display: flex;
        flex-direction: row;
        width: 15rem;
        height: 7rem;
        border-right: .6rem solid;
        border-image: linear-gradient(to bottom, #FAB02F, #D28908) 1;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        align-items: center;
        justify-content: space-around;
        text-align: center;
    }
    .contentA:hover {
        box-shadow: #2125296c 2px 2px 2px 2px;
        transition: .3s;
    }
    .contentA .Aimg img {
        width: 74px;
    }
    .contentA .Atext {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: larger;
        padding-top: 10px;
    }
    .Atext h6 svg {
        width: 40px;
    }
    .Atext h6 {
        display: flex;
        font-weight: lighter;
    } 
    .Atext ul li p{
        text-align: end;
        width: 120px;
        margin-left: -16px;
        font-size: smaller;
    } 
    .contentC {
        padding: 10px;
        display: flex;
        flex-direction: row;
        width: 15rem;
        height: 7rem;
        border-right: .6rem solid;
        border-image: linear-gradient(to bottom, #fd8383, #F35555) 1;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        align-items: center;
        justify-content: space-around;
        text-align: center;
    }
    .contentC:hover {
        box-shadow: #2125296c 2px 2px 2px 2px;
        transition: .3s;
    }
    .contentC .Cimg img {
        width: 74px;
    }
    .contentC .Ctext {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: larger;
        padding-top: 10px;
    }
    .Ctext h6 svg {
        width: 40px;
    }
    .Ctext h6 {
        display: flex;
    }
    .contentD {
        padding: 10px;
        display: flex;
        flex-direction: row;
        width: 15rem;
        height: 7rem;
        border-right: .6rem solid;
        border-image: linear-gradient(to bottom, #FAB02F, #D28908) 1;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        align-items: center;
        justify-content: space-around;
        text-align: center;
    }
    .contentD:hover {
        box-shadow: #2125296c 2px 2px 2px 2px;
        transition: .3s;
    }
    .contentD .Dimg img {
        width: 74px;
    }
    .contentD .Dtext {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: larger;
        padding-top: 10px;
    }
    .Dtext h6 svg {
        width: 40px;
    }
    .Dtext h6 {
        display: flex;
    }
    .contentB{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: auto;
    }
    .contentB > .BTop{
        padding: 10px;
        display: flex;
        flex-direction: column;
        width: 15rem;
        height: 7rem;
        flex-wrap: wrap;
        border-right: .6rem solid;
        border-image: linear-gradient(to bottom, #fd8383, #F35555) 1;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        margin-left: 7px;
    }
    .BTop:hover{
        box-shadow: #2125296c 2px 2px 2px 2px;
        transition: .3s;
    }
    .contentB .BTop .BTopimg img{
        width: 74px;
    }
    .contentB .BTop .BToptext{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: larger;
        padding-top: 10px;
    }
    .contentB .BTop .BToptext h6{
        width: 50px;
    }
    .contentB .BTop .BToptext h6 svg{
        width: 40px;
    }
    .contentB > .BBottom{
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 60px;
        width: 15rem;
        height: 7rem;
        flex-wrap: wrap;
        border-right: .6rem solid;
        border-image: linear-gradient(to bottom, #fd8383, #F35555) 1;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        margin-left: 7px;
    }
    .BBottom:hover{
        box-shadow: #2125296c 2px 2px 2px 2px;
        transition: .3s;
    }
    .contentB .BBottom .BBottomimg img{
        width: 74px;
    }
    .contentB .BBottom .BBottomtext{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: larger;
        padding-top: 10px;
        padding-top: 100px;
        margin-left: -64px;
    }
    .contentB .BBottom .BBottomtext h6{
        display: flex;
        text-align: end;
        align-items: end;
        align-content: end;
    }
    .contentB .BBottom .BBottomtext h6 svg{
        width: 40px;
    }
    .contentB .BBottom .BBottomtext p{
        display: flex;
        width: 100px;
    }
}