html{
    background-color: rgba(224,224,224);
    overflow-x: hidden;
}
body {
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: rgba(224,224,224); 
}
.nav li{
    height: 3rem;
    margin-bottom: 1.4rem;
    transition: .3s;
}
.nav li a:hover{
    background-color: rgb(49, 134, 41);
    transition: .2s;
    border-radius: 5px;
    color: white;
    width: 100%;
}
.nav li:hover a {
    color: white !important;
}
.container{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.content{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    background-color: white;
    padding: 3%;
    margin-top: 2%;
    border-radius: 8px;
}
.top-content{
    width: 50%;
}
img{
    padding: 1rem;
    border-radius: 5% !important;
    border: .5rem solid #FAB02F;
    color: #fff;
    /* border-image: linear-gradient(to bottom, #FAB02F, #D28908) 1; */
}
.status div p{
    font-size: larger;
}
.status div p label{
    font-weight: bolder;
}
.pemupukan{
    width: 150%;
}
.kelembapan{
    width: 150%;
}
.kelembapan p{
    margin-left: 10px;
}
.panen{
    width: 150%;
}
.panen p{
    margin-left: 10px;
}
.bottom-content{
    width: 90%;
}
.bottom-content p{
    text-align: justify;
    font-size: larger;
}
@media only screen and (max-width: 1200px){
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
        background-color: white;
        padding: 3%;
        margin-top: 2%;
        border-radius: 8px;
    }
    .top-content{
        flex-direction: column;
    }
    .top-content div header h1{
        display: flex;
        margin: auto;
    }
    .top-content .top-left{
        margin-bottom: 20px;
    }
    img{
        width: 80%;
        margin-top: 10px;
    }
}