@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
.html{
        background-color: white;
        font-family: "Jost", sans-serif;
    }
.bg{
        margin-top: -8rem;
        position: fixed;
        z-index: -10;
        background-size: 100%;
        opacity: 0.7;
    }
.container{
        display: flex;
        justify-content: center;
        margin-top: 8rem;
        width: min-content;
    }
.left{
        display: flex;
        flex-direction: column;
        background: rgb(22,48,32);
        background: linear-gradient(180deg, rgba(22,48,32,1) 0%, rgba(66,115,66,1) 100%);
    }
.right{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.644);
        justify-content: space-around;
        border-right: .5rem solid rgba(66,115,66,1);
    }
label{
        display: flex;
        flex-direction: column;
    }
label input{
        border-radius: 10rem;
    }
button{
        width: 6rem;
        cursor: pointer;
    }
button:hover{
    background-color: orange !important;
    transition: .3s;
}
    @media only screen and (max-width: 1200px){
        .container{
            margin-top: 120px ;
            display: flex;
            flex-direction: column-reverse;
        }
        .left{
            height: auto;
            border-top-right-radius: 0px !important;
            border-top-left-radius : 0px !important;
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius: 20px !important;
        }
        .right{
            height: 160px;
            border-top-right-radius: 0px !important;
            border-top-left-radius : 20px !important;
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius: 0px !important;

        }
        .right label{
            text-align: center;
            justify-content: center;
        }
    }